#sushi {
	padding-top: 100px;
}
.cmsmasters-icon-custom-burger:before {
	content: url('../img/icon/sushi.svg');
}
.error-modal {
	background: red;
    color: #fff;
    margin-top: 10px;
    padding: 8px;
	display: none;
}
#modalBell {
	text-align: center;
}
#modalBell input{
	margin: 10px 0;
	width: 100%;
}
#modalBell label{
    display: inline-block;
    width: 83px;
}
.tingle-modal--visible .tingle-modal-box__footer {
	text-align: center;
}
.tingle-modal--visible .tingle-modal-box__footer .tingle-btn{
	margin: 5px;
}
#theme-custom {
	color: #333;
	text-align: center;  
}