#sushi {
	padding-top: 100px;
}
.cmsmasters-icon-custom-burger:before {
	content: url('../img/icon/sushi.svg');
}
.error-modal {
	background: red;
    color: #fff;
    margin-top: 10px;
    padding: 8px;
	display: none;
}
#modalBell {
	text-align: center;
}
#modalBell input{
	margin: 10px 0;
	width: 100%;
}
#modalBell label{
    display: inline-block;
    width: 83px;
}
.tingle-modal--visible .tingle-modal-box__footer {
	text-align: center;
}
.tingle-modal--visible .tingle-modal-box__footer .tingle-btn{
	margin: 5px;
}
#theme-custom h2, 
#theme-custom h3 {
	color: #333;
	text-align: center;  
}
.tingle-modal {
	z-index: 10000;
}
.tingle-modal label {
	color: #000;
}
.cmsmasters_menu_item_img {
	background: url('../img/bg-pizza.jpg') repeat center center;
	background-size: cover;
	text-align: center !important;
	margin: 0 0 35px 0;
}
.sushi .cmsmasters_menu_item_img,
.drinks .cmsmasters_menu_item_img {
	background: #fff;
}
.cmsmasters_menu_item {
	position: relative;
	height: 520px;
}
.cmsmasters_menu_item .series-number {
	position: absolute;
	left: 10px;
	top: 30px;
}
.cmsmasters_menu_item .series-number span{
	color: #fff;
	font-weight: bold;
    background: #f77808;
    border: 3px solid #fff;
	display: block;
	width: 80px;
	text-align: center;
	padding: 10px;
}
.cmsmasters_heading {
	text-align: left !important;
}
#vk:before,
#instagram:before {
    content: "";
    background: url(../img/icon/vk.svg) no-repeat center center #e46634;
    background-size: 70%;
    border-radius: 50%;
	transition: all 0.8s;
}
#vk:hover:before,
#instagram:hover:before {
    background-color: #cfcfcf;  
}
#instagram:before {
	 background: url(../img/icon/instagram.svg) no-repeat center center #e46634;
	background-size: 60%;
}
.tel-beel p{
    text-align: right;
    padding: 0;
    margin: 0 7px 0 0;
}
.tel-beel {
	cursor: pointer;
	padding: 10px;
}
.tel-beel:hover {
background: rgba(0,0,0,.6);
}